apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "transmission-openvpn.fullname" . }}
  labels:
    {{- include "transmission-openvpn.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "transmission-openvpn.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- if . }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- end }}
      labels:
        {{- include "transmission-openvpn.selectorLabels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- if . }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "transmission-openvpn.serviceAccountName" $ }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 9091
              protocol: TCP
          livenessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - |
                  wget --quiet --tries=1 --spider \
                  --header "Authorization: Basic $(echo -n ${TRANSMISSION_RPC_USERNAME}:${TRANSMISSION_RPC_PASSWORD} | base64)" \
                  http://localhost:9091/transmission/web/
            initialDelaySeconds: 45
            periodSeconds: 20
          readinessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - |
                  wget --quiet --tries=1 --spider \
                  --header "Authorization: Basic $(echo -n ${TRANSMISSION_RPC_USERNAME}:${TRANSMISSION_RPC_PASSWORD} | base64)" \
                  http://localhost:9091/transmission/web/
            initialDelaySeconds: 30
            periodSeconds: 10
          env:
            {{- range $name, $item := .Values.env }}
            - name: {{ $name }}
              {{- if kindIs "map" $item }}
              {{- toYaml $item | nindent 14 }}
              {{- else }}
              value: {{ $item | quote }}
              {{- end }}
            {{- end }}
          volumeMounts:
            - name: config
              mountPath: /config
            - name: data
              mountPath: /data
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: {{ include "transmission-openvpn.fullname" . }}-config
        - name: data
          persistentVolumeClaim:
            claimName: {{ include "transmission-openvpn.fullname" . }}-data
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}