apiVersion: v1
kind: Service
metadata:
  name: oauth2-proxy
  namespace: transmission-openvpn
spec:
  selector:
    app: oauth2-proxy
  ports:
    - protocol: TCP
      port: 4180
      targetPort: 4180